<% include ../partials/header %>

<div class='container'>
    <h1 style="text-align:center">Add New Comment to <%= campground.name%>!</h1>
    <div style="width:30%;margin:0 auto">
        <!--当提交表单时，路由中的req.body取得请求信息，并通过res.send方法将响应信息发送给客户端-->
        <form action='/campgrounds/<%=campground._id%>/comments' method='POST'>
            <div class="form-group">
                <!--这里的name中括号里的名字不可以乱取，要对应comment里面的属性，因为要直接push进去-->
                <input class='form-control' type='text' name='comment[text]' placeholder='text'>
            </div>
            <div class="form-group">
                <input class='form-control' tytpe='text' name='comment[author]' placeholder='author'>
            </div>
            <div class="form-group">
                 <button class="btn btn-lg btn-outline-success btn-block">Submit!</button>
            </div>
            <div class="form-group">
                 <a href='/campgrounds'>Go Back</a>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>
