<h1>This is a search for movies</h1>

<!--form表单调用get /results方法-->
<form action='/results' methods='GET'>
    <input type=text placeholder='search term' name='search'>
    <input type='submit'>
</form>