<% include partials/header %>
<div class='ui main text container segment'>
    <div class='ui huge header'>
        New Blog
    </div>
    <form class='ui form' action='/blogs' method='POST'>
        <!--这里是直接添加req.body.body下属性而不是先改req.body下属性再加-->
        <div class='field'>
            <label>Title</label>
            <input type='text' name='blog[title]' placeholder='title'>
        </div>
        <div class='field'>
            <label>Image</label>
            <input type='text' name='blog[image]' placeholder='image'>
        </div>
        <div class='field'>
            <label>Blog Content</label>
            <!--其实这里是有漏洞的，用户可以在文本框里写html和js语言，网页会识别并运行他们，比如alert("I hacked you!")-->
            <textarea name='blog[body]'></textarea>
        </div>
        <input class='ui green button' type='submit'> 
    </form>
</div>
<% include partials/footer %>