<h1>Sign UP</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <!--这里，在form表单最后，可以写input type='submit' 也可以直接放一个button-->
    <!--因为只要button是form表单最后一行，点击它就会自动提交表单-->
    <button>Submit</button>
</form>

<ul>
    <li><a href='/register'>Sign UP!</a></li>
    <li><a href='/login'>LOGIN</a></li>
    <li><a href='/logout'>LOG OUT</a></li>
</ul>
