<!DOCTYPE html>
<html>
    <head>
        <title>Demo App</title>
        <!--这里要加斜线slash-->
        <link rel="stylesheet" type="text/css" href="/app.css">
    </head>
    <body>
        <p>This is the header!!!</p>